@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand-50: 243 248 248; /*rgb(243 248 248)*/
    --color-brand-100: 223 236 238; /*rgb(223 236 238)*/
    --color-brand-200: 195 220 222; /*rgb(195 220 222)*/
    --color-brand-300: 154 194 198; /*rgb(154 194 198)*/
    --color-brand-400: 105 160 167; /*rgb(105 160 167)*/
    --color-brand-500: 79 134 142; /*rgb(79 134 142)*/
    --color-brand-600: 67 110 119; /*rgb(67 110 119)*/
    --color-brand-700: 59 91 99; /*rgb(59 91 99)*/
    --color-brand-800: 55 78 83; /*rgb(55 78 83)*/
    --color-brand-900: 49 66 72; /*rgb(49 66 72)*/
    --color-brand-950: 29 42 47; /*rgb(29 42 47)*/

    --color-grey-50: 248 250 252; /*rgb(248 250 252)*/
    --color-grey-100: 241 245 249; /*rgb(241 245 249)*/
    --color-grey-200: 226 232 240; /*rgb(226 232 240)*/
    --color-grey-300: 203 213 225; /*rgb(203 213 225)*/
    --color-grey-400: 148 163 184; /*rgb(148 163 184)*/
    --color-grey-500: 100 116 139; /*rgb(100 116 139)*/
    --color-grey-600: 71 85 105; /*rgb(71 85 105)*/
    --color-grey-700: 51 65 85; /*rgb(51 65 85)*/
    --color-grey-800: 30 41 59; /*rgb(30 41 59)*/
    --color-grey-900: 15 23 42; /*rgb(15 23 42)*/
    --color-grey-950: 2 6 23; /*rgb(2 6 23)*/

    --color-error-50: 254 242 242; /*rgb(254 242 242)*/
    --color-error-100: 254 226 226; /*rgb(254 226 226)*/
    --color-error-200: 254 202 202; /*rgb(254 202 202)*/
    --color-error-300: 252 165 165; /*rgb(252 165 165)*/
    --color-error-400: 248 113 113; /*rgb(248 113 113)*/
    --color-error-500: 239 68 68; /*rgb(239 68 68)*/
    --color-error-600: 220 38 38; /*rgb(220 38 38)*/
    --color-error-700: 185 28 28; /*rgb(185 28 28)*/
    --color-error-800: 153 27 27; /*rgb(153 27 27)*/
    --color-error-900: 127 29 29; /*rgb(127 29 29)*/
    --color-error-950: 69 10 10; /*rgb(69 10 10)*/

    --color-warning-50: 254 250 236; /*rgb(254 250 236)*/
    --color-warning-100: 252 240 201; /*rgb(252 240 201)*/
    --color-warning-200: 249 223 137; /*rgb(249 223 137)*/
    --color-warning-300: 246 203 83; /*rgb(246 203 83)*/
    --color-warning-400: 244 182 43; /*rgb(244 182 43)*/
    --color-warning-500: 237 149 19; /*rgb(237 149 19)*/
    --color-warning-600: 210 113 13; /*rgb(210 113 13)*/
    --color-warning-700: 174 79 15; /*rgb(174 79 15)*/
    --color-warning-800: 142 61 18; /*rgb(142 61 18)*/
    --color-warning-900: 117 51 18; /*rgb(117 51 18)*/
    --color-warning-950: 67 25 5; /*rgb(67 25 5)*/

    --color-success-50: 242 247 238; /*rgb(242 247 238)*/
    --color-success-100: 27 236 219; /*rgb(227 236 219)*/
    --color-success-200: 200 219 187; /*rgb(200 219 187)*/
    --color-success-300: 166 196 146; /*rgb(166 196 146)*/
    --color-success-400: 134 173 110; /*rgb(134 173 110)*/
    --color-success-500: 102 142 79; /*rgb(102 142 79)*/
    --color-success-600: 80 115 61; /*rgb(80 115 61)*/
    --color-success-700: 63 89 50; /*rgb(63 89 50)*/
    --color-success-800: 53 72 44; /*rgb(53 72 44)*/
    --color-success-900: 46 63 40; /*rgb(46 63 40)*/
    --color-success-950: 22 33 18; /*rgb(22 33 18)*/

    --color-orange-50: 254 247 238; /*rgb(254 247 238)*/
    --color-orange-100: 254 236 214; /*rgb(254 236 214)*/
    --color-orange-200: 252 220 187; /*rgb(252 220 187)*/
    --color-orange-300: 249 182 120; /*rgb(249 182 120)*/
    --color-orange-400: 245 142 66; /*rgb(245 142 66)*/
    --color-orange-500: 242 110 29; /*rgb(242 110 29)*/
    --color-orange-600: 227 84 19; /*rgb(227 84 19)*/
    --color-orange-700: 188 62 18; /*rgb(188 62 18)*/
    --color-orange-800: 150 50 22; /*rgb(150 50 22)*/
    --color-orange-900: 121 44 21; /*rgb(121 44 21)*/
    --color-orange-950: 65 19 9; /*rgb(65 19 9)*/

    --color-purple-50: 253 246 252; /*rgb(253 246 252)*/
    --color-purple-100: 251 236 250; /*rgb(251 236 250)*/
    --color-purple-200: 246 216 244; /*rgb(246 216 244)*/
    --color-purple-300: 237 186 231; /*rgb(237 186 231)*/
    --color-purple-400: 226 144 216; /*rgb(226 144 216)*/
    --color-purple-500: 208 101 195; /*rgb(208 101 195)*/
    --color-purple-600: 188 82 173; /*rgb(188 82 173)*/
    --color-purple-700: 148 55 133; /*rgb(148 55 133)*/
    --color-purple-800: 122 46 109; /*rgb(122 46 109)*/
    --color-purple-900: 100 43 89; /*rgb(100 43 89)*/
    --color-purple-950: 65 17 56; /*rgb(65 17 56)*/

    --shadow-1: 0px 1px 1px 0px rgba(0, 0, 0, 0.04),
      0px 0px 2px 0px rgba(0, 0, 0, 0.07);
    --shadow-1-strong: 0px 1px 1px 0px rgba(0, 0, 0, 0.1),
      0px 0px 2px 0px rgba(0, 0, 0, 0.16);
    --shadow-2: 0px 2px 2px 0px rgba(0, 0, 0, 0.04),
      0px 0px 3px 0px rgba(0, 0, 0, 0.07);
    --shadow-2-strong: 0px 2px 2px 0px rgba(0, 0, 0, 0.1),
      0px 0px 3px 0px rgba(0, 0, 0, 0.16);
    --shadow-3: 0px 6px 18px -1px rgba(0, 0, 0, 0.04),
      0px 2px 6px -1px rgba(0, 0, 0, 0.07);
    --shadow-3-strong: 0px 6px 18px -1px rgba(0, 0, 0, 0.1),
      0px 2px 6px -1px rgba(0, 0, 0, 0.16);
    --shadow-4: 0px 10px 20px -2px rgba(0, 0, 0, 0.04),
      0px 2px 15px -3px rgba(0, 0, 0, 0.07);
    --shadow-4-strong: 0px 10px 20px -2px rgba(0, 0, 0, 0.1),
      0px 2px 15px -3px rgba(0, 0, 0, 0.16);
    --shadow-5: 0px 25px 21px -5px rgba(0, 0, 0, 0.04),
      0px 2px 25px -5px rgba(0, 0, 0, 0.07);
    --shadow-5-strong: 0px 25px 21px -5px rgba(0, 0, 0, 0.1),
      0px 2px 25px -5px rgba(0, 0, 0, 0.16);

    --shadow-button: 0px 0px 0px 3px rgba(79, 134, 142, 0.2);
    --shadow-button-danger: 0px 0px 0px 3px rgba(238, 108, 88, 0.2);
    --shadow-button-tertiary: 0px 0px 0px 3px rgba(100, 116, 139, 0.2);

    --primary-gradient: linear-gradient(92.42deg, #3b5b63 0%, #4f868e 100%);
    --primary-gradient-hover: linear-gradient(0deg, #374e53 0%, #374e53 100%);
  }

  input:where(:not([type])):focus,
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    box-shadow: none;
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 900;
    src: url("/src/assets/fonts/PublicSans-Black.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 900;
    src: url("/src/assets/fonts/PublicSans-BlackItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/PublicSans-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/src/assets/fonts/PublicSans-BoldItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 800;
    src: url("/src/assets/fonts/PublicSans-ExtraBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 800;
    src: url("/src/assets/fonts/PublicSans-ExtraBoldItalic.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 200;
    src: url("/src/assets/fonts/PublicSans-ExtraLight.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 200;
    src: url("/src/assets/fonts/PublicSans-ExtraLightItalic.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/PublicSans-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/src/assets/fonts/PublicSans-Italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/src/assets/fonts/PublicSans-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 300;
    src: url("/src/assets/fonts/PublicSans-LightItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/src/assets/fonts/PublicSans-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 500;
    src: url("/src/assets/fonts/PublicSans-MediumItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/src/assets/fonts/PublicSans-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 600;
    src: url("/src/assets/fonts/PublicSans-SemiBoldItalic.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    src: url("/src/assets/fonts/PublicSans-Thin.woff2") format("woff2");
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 100;
    src: url("/src/assets/fonts/PublicSans-ThinItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "NYT Imperial";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/NYTImperial-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "NYT Imperial";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/NYTImperial-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "NYT Imperial";
    font-style: normal;
    font-weight: 600;
    src: url("/src/assets/fonts/NYTImperialSemiBold-Regular.ttf")
      format("truetype");
  }
  html,
  body,
  #root {
    height: 100%;
    font-size: 16px;
    background-color: white;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background-color: transparent;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  /*
 * Remove IE/ Edge clear "X" & eye icons
 */
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }

  /* Remove Safari password & caps lock icons */
  input[type="password"]::-webkit-credentials-auto-fill-button,
  input[type="password"]::-webkit-caps-lock-indicator {
    display: none;
  }
  /* Remove input arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove input arrows Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
