---
interface Props {
  id?: string;
  collapse?: boolean;
  icon?: string;
  title: string;
  description?: string;
  className?: string;
  headerClass?: string;
}

const {
  id,
  collapse = true,
  icon,
  title,
  description,
  className,
  headerClass,
} = Astro.props;
---

<div id={id} class:list={["accordion-container", className]}>
  <h2 id={id + "-heading"} class="accordion-header w-full">
    <button
      type="button"
      class:list={[
        "relative z-20 flex w-full flex-row items-center border-b border-solid border-brand-800 bg-brand-700 text-brand-100",
        headerClass,
      ]}
    >
      <span class="flex items-center gap-4 px-8 py-4">
        {
          icon && (
            <div class="flex h-16 w-16 items-center justify-center rounded-lg bg-brand-950 text-brand-400">
              <i class:list={["bi text-3xl font-thin", "bi-" + icon]} />
            </div>
          )
        }
        <span class="text-3xl font-bold md:text-4xl lg:text-5xl">{title}</span>
      </span>
      {
        description && (
          <div class="h-full flex-shrink border-l border-brand-900 px-8 py-9 text-lg font-normal">
            {description}
          </div>
        )
      }
    </button>
  </h2>
  <div
    id={id + "-body"}
    class:list={[
      "accordion-body overflow-hidden transition-all duration-400 ease-in-out",
      collapse ? "max-h-0" : "max-h-5000",
    ]}
  >
    <slot />
  </div>
</div>

<script>
  const accordionContainers = document.querySelectorAll(".accordion-container");
  accordionContainers.forEach((accordionContainer) => {
    const header = accordionContainer.querySelector(".accordion-header");
    const body = accordionContainer.querySelector(".accordion-body");
    header?.addEventListener("click", () => {
      if (body?.classList.contains("max-h-0")) {
        body?.classList.remove("max-h-0");
        body?.classList.add("max-h-5000");
      } else {
        body?.classList.remove("max-h-5000");
        body?.classList.add("max-h-0");
      }
    });
  });
</script>

<style></style>
