---
import { Header, Breadcrumbs } from "mee-components";
import { header, meeFoundation } from "../../astro.config.mjs";
import Layout from "../layouts/Layout.astro";
import { DocsComponent } from "mee-components";
import { privateAdvertising } from "./../../astro.config.mjs";
const data = {
  users: {
    enabled: true,

    link: privateAdvertising + "docs/users/mee-extension/",
  },
  publishers: {
    enabled: true,
    link: privateAdvertising + "docs/publishers/mee-extension/",
  },
  developers: {
    enabled: true,
    link: privateAdvertising + "docs/developers/mee-extension/",
  },
};
---

<Layout title="Docs">
  <main class="">
    <Header header={header} activePage="docs" location="Mee Extension" />
    <article
      class="relative mt-27 flex h-full min-h-screen w-screen flex-col items-center gap-4 overflow-hidden pt-16"
    >
      <Breadcrumbs
        className="hidden md:flex"
        breadcrumbs={[
          { title: "Projects", link: `${meeFoundation}projects/` },
          { title: "Mee Extension", link: `/` },
          { title: "Docs" },
        ]}
      />
      <DocsComponent data={data} title="Mee Extension Docs" />
    </article>
  </main>
</Layout>
