---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
// import { ButtonLink, Footer } from "mee-components";
import { Footer } from "mee-components";
---

<Layout title="Mee Extension">
  <Header />
  <main class="">
    <article
      class="relative flex h-full min-h-screen w-screen flex-col items-center gap-16 overflow-hidden"
    >
      <section
        class="section top-0 z-100 mb-3.5 flex w-screen items-center justify-center"
      >
        <div
          class="flex max-w-150 flex-col items-center justify-center gap-6 px-6 transition-opacity duration-500 md:p-0"
        >
          <div class="overflow-hidden">
            <h1
              class="marker animate-riseIn text-center text-4xl font-semibold text-gray-900 lg:text-7xl lg:tracking-0.02"
            >
              Mee
              <mark class="whitespace-nowrap">Extension</mark>
            </h1>
          </div>
          <div class="overflow-hidden">
            <h3
              class="animate-riseIn text-center text-xl tracking-0.02 text-gray-800 md:text-2xl lg:text-3xl"
            >
              Enjoy human-centered user experience. <br />Let the web work for
              you.
            </h3>
          </div>
        </div>
      </section>
      <!-- <section class="flex w-full flex-wrap items-center justify-center gap-6">
        <ButtonLink
          id="join"
          className="!w-52"
          href="https://chromewebstore.google.com/"
          target="_blank">Download extension</ButtonLink
        >
      </section> -->
      <section
        class="section relative top-0 my-28 flex w-screen flex-col items-center justify-center pt-28"
      >
        <div class="bg-1 top-0 bg-brand-50"></div>
        <div
          class="z-10 flex flex-col items-center justify-center gap-16 bg-brand-50 px-6 transition-opacity duration-500"
        >
          <div class="overflow-hidden">
            <h2
              class="marker animate-riseIn text-center text-2xl font-bold text-gray-900 md:text-2xl lg:text-5xl lg:tracking-0.02"
            >
              Mee Extension <mark class="whitespace-nowrap">Benefits</mark>
            </h2>
          </div>
          <div
            class="flex w-screen flex-col items-center justify-center gap-18.5 bg-brand-50 px-5 lg:flex-row lg:items-start"
          >
            <div
              class="platform__item flex max-w-100 flex-col items-center justify-center gap-5 text-center"
            >
              <span
                class="icon flex items-center justify-center text-base uppercase text-white"
                ><img src="/images/auto-login.png" class="h-33" /></span
              >
              <h6
                class="text-xl font-bold leading-thick text-gray-900 md:text-2xl lg:text-3xl"
              >
                Privacy
              </h6>
              <p
                class="max-w-73 text-base font-normal text-gray-800 md:text-xl"
              >
                Your online activities are free from surveillance by third-party
                cookies and trackers
              </p>
            </div>
            <div
              class="platform__item flex max-w-100 flex-col items-center justify-center gap-5 text-center"
            >
              <span
                class="icon flex items-center justify-center text-base uppercase text-white"
                ><img src="/images/privacy.png" class="h-33" /></span
              >
              <h6
                class="text-xl font-bold leading-thick text-gray-900 md:text-2xl lg:text-3xl"
              >
                Control
              </h6>
              <p
                class="max-w-73 text-base font-normal text-gray-800 md:text-xl"
              >
                Mee Extension automatically opts you out of your data being
                shared/sold by websites
              </p>
            </div>
            <div
              class="platform__item flex max-w-100 flex-col items-center justify-center gap-5 text-center"
            >
              <span
                class="icon flex items-center justify-center text-base uppercase text-white"
                ><img src="/images/privacy.png" class="h-33" /></span
              >
              <h6
                class="text-xl font-bold leading-thick text-gray-900 md:text-2xl lg:text-3xl"
              >
                Convenience
              </h6>
              <p
                class="max-w-73 text-base font-normal text-gray-800 md:text-xl"
              >
                Enjoy content supported by ads that respect your privacy and
                match your interests
              </p>
            </div>
          </div>
          <!-- <ButtonLink
            id="join"
            className="!w-52"
            href="https://chromewebstore.google.com/"
            target="_blank">Download extension</ButtonLink
          > -->
        </div>
      </section>
      <Footer
        mode="dark"
        rightLinks={[
          {
            link: "/privacy-policy/",
            name: "Privacy Policy",
            target: "_blank",
          },
        ]}
      />
    </article>
  </main>
</Layout>
<style>
  .bg-1 {
    content: "";
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    min-height: 150vh;
    height: 140%;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    width: 400vw;
  }
</style>
