---
import Layout from "../layouts/Layout.astro";
import { Footer } from "mee-components";
import Header from "../components/Header.astro";
---

<Layout title="Mee Extension - Privacy Policy">
  <Header />
  <main class="scrollContainer transform-gpu">
    <section
      class="flex h-full w-screen transform-gpu flex-col items-center justify-start bg-white"
    >
      <div class="mx-auto max-w-5xl">
        <div class="mx-auto px-5 pb-20 text-base text-gray-800">
          <h1 class="text-4xl font-medium text-primary">Privacy Policy</h1>
          <p class="pt-10">
            We (The Mee Foundation, Inc., a nonprofit corporation registered in
            Massachusetts, USA) are dedicated to the creation of a
            human-centered user experience for the internet that gives you
            control over your personal information and respects your right to
            privacy. This privacy policy will help you understand what happens
            to your data if you choose to install our browser extension, Mee
            Extension, into your browser.
          </p>
          {
            [
              {
                title: "Questions or concerns?",
                answer: (
                  <span>
                    Reading this privacy notice will help you understand your
                    privacy rights and choices. If you do not agree with our
                    policies and practices, please do not use our services. If
                    you still have any questions or concerns, please contact us
                    at{" "}
                    <a
                      class="text-base font-medium text-primary underline"
                      href="mailto:contact@mee.foundation"
                    >
                      contact@mee.foundation
                    </a>
                    .
                  </span>
                ),
              },
            ].map((item) => (
              <div class="pt-10">
                <p class="font-bold text-primary">{item.title}</p>
                <p class="pt-2">{item.answer}</p>
              </div>
            ))
          }
          <h2 class="pt-10 font-bold text-primary">KEY POINTS</h2>
          {
            [
              {
                title: "What personal information do we process?",
                answer: (
                  <span>
                    The extension has access to your browsing history. It
                    processes this locally inside your browser and it never
                    leaves your computer.
                  </span>
                ),
              },
              {
                title: "Do we process any sensitive personal information?",
                answer:
                  "NO. We do not process any sensitive personal information.",
              },
              {
                title: "Do we receive any information from third parties?",
                answer:
                  "NO. We don’t receive any information from third parties.",
              },
              {
                title: "How do we process your information?",
                answer: (
                  <span>
                    Based on your browsing history, which never leaves your
                    computer, the extension generates a set of anonymous
                    interest data that is uploaded to a Mee server. This Mee
                    server stores this interest data and uses it to assign you
                    anonymously to groups of people with similar interests, but
                    it never shares them with any other company. Mee-authorized
                    ad networks tailor the ads you see based on the groups
                    you’re in.
                  </span>
                ),
              },
              {
                title:
                  "In what situations and with which parties do we share personal information?",
                answer: (
                  <span>
                    We never share personal information with any other parties.
                    All of your information, including your interest data
                    remains private–they are never shared or transferred by the
                    Mee Foundation.
                  </span>
                ),
              },
              {
                title: "What information do we share?",
                answer: (
                  <span>
                    Your information, including your interest data remains
                    private–it is never shared or transferred by the Mee
                    Foundation.
                  </span>
                ),
              },
              {
                title:
                  "When and with whom do we share your personal information?",
                answer: "We do not share any of your personal information.",
              },
              {
                title: "How long do we keep your information?",
                answer: (
                  <span>
                    Mee Extension collects information about what websites you
                    visit and summaries of the content of these sites. It stores
                    this data, as well as the anonymous interest data generated
                    from it, locally within the Mee Extension in your browser
                    and retains it until you uninstall the extension. The
                    extension uploads the locally generated interest data to a
                    Mee server. This interest data does not contain personally
                    identifying information. It is retained on the Mee server
                    until you uninstall the extension.
                  </span>
                ),
              },
              {
                title: "Can I access, change, or delete my data?",
                answer: (
                  <span>
                    You can delete the locally stored interest data by
                    uninstalling the extension.
                  </span>
                ),
              },
              {
                title: "Controls for do-not-track features?",
                answer: (
                  <span>
                    Mee Extension does not generate logs of any personally
                    identifiable information. Mee Extension includes a Global
                    Privacy Control (GPC) feature that, by default, sends the
                    GPC opt-out signal to any website you visit. You can change
                    this default on any website you visit.
                  </span>
                ),
              },
              {
                title: "Do we make updates to this notice?",
                answer: (
                  <span>
                    Yes, we will update this notice as necessary to stay
                    compliant with relevant laws. We may update this privacy
                    notice from time to time. The updated version will be
                    indicated by an updated “Revised” date and it will be
                    effective as soon as it is accessible. We encourage you to
                    review this privacy notice frequently to be informed of how
                    we are protecting your information.
                  </span>
                ),
              },
              {
                title: "How can you contact us about this notice?",
                answer: (
                  <span>
                    If you have questions or comments about this notice, you may
                    email us at{" "}
                    <a
                      class="text-base font-medium text-primary underline"
                      href="mailto:contact@mee.foundation"
                    >
                      contact@mee.foundation
                    </a>{" "}
                    or by mail to:{" "}
                    <span class="font-medium">
                      Mee Foundation Inc, 25 Craftsland Road, Chestnut Hill, MA
                      02467, United States
                    </span>
                  </span>
                ),
              },
            ].map((item) => (
              <div class="pt-10">
                <p class="font-bold text-primary">{item.title}</p>
                <p class="pt-2">{item.answer}</p>
              </div>
            ))
          }
          <p class="pt-10">Last updated August 20, 2024</p>
        </div>
      </div>
      <Footer
        mode="dark"
        rightLinks={[
          {
            link: "/privacy-policy/",
            name: "Privacy Policy",
            target: "_blank",
          },
        ]}
      />
    </section>
  </main>
</Layout>
