---
import { extensionLink } from "../config";
interface Props {
  buttonType?: "primary" | "secondary" | "tertiary" | "danger";
}

const { buttonType = "primary" } = Astro.props;
---

<a
  href={extensionLink}
  target="_blank"
  class:list={[
    "rounded-xl border focus:shadow-button",
    buttonType === "primary"
      ? "border-gradient-rounded"
      : "border-brand-200 bg-white hover:border-brand-500",
  ]}
>
  <svg
    width="266"
    height="80"
    viewBox="0 0 266 80"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M13.7334 0.5C6.82984 0.5 1.2334 6.09644 1.2334 13V69C1.2334 75.9036 6.82985 81.5 13.7334 81.5H254.267C261.17 81.5 266.767 75.9036 266.767 69V13C266.767 6.09644 261.17 0.5 254.267 0.5H13.7334Z"
      fill="transparent"></path>
    <path
      d="M94.0534 57.64C91.9734 57.64 90.2134 56.9467 88.8267 55.5067C87.44 54.12 86.6934 52.36 86.6934 50.2267C86.6934 48.1467 87.3867 46.3867 88.8267 44.9467C90.2134 43.56 91.9734 42.8133 94.0534 42.8133C96.1867 42.8133 97.8934 43.56 99.2267 45.1067L97.9467 46.3333C96.9867 45.16 95.6534 44.52 94 44.52C92.4534 44.52 91.1734 45.0533 90.1067 46.0667C89.04 47.08 88.5067 48.4667 88.5067 50.1733C88.5067 51.88 89.04 53.2133 90.1067 54.28C91.1734 55.2933 92.4534 55.8267 94 55.8267C95.7067 55.8267 97.1467 55.1333 98.32 53.8L99.6 55.08C98.96 55.88 98.16 56.4667 97.1467 56.9467C96.2934 57.3733 95.2267 57.64 94.0534 57.64Z"
      fill="#5F6368"></path>
    <path
      d="M103.12 43.1867V47.6667L103.067 49H103.12C103.387 48.52 103.813 48.1467 104.347 47.8267C104.933 47.5067 105.52 47.3467 106.16 47.3467C107.333 47.3467 108.293 47.72 108.88 48.4667C109.52 49.2133 109.84 50.1733 109.84 51.4533V57.3733H108.027V51.6667C108.027 49.8533 107.227 49 105.627 49C104.88 49 104.24 49.32 103.813 49.9067C103.333 50.4933 103.12 51.1867 103.12 51.9867V57.32H101.307V43.1867H103.12Z"
      fill="#5F6368"></path>
    <path
      d="M113.787 57.32H111.973V47.6133H113.733V49.2133H113.787C113.947 48.68 114.373 48.2533 114.907 47.9333C115.493 47.6133 116.027 47.4 116.56 47.4C117.093 47.4 117.573 47.4533 117.947 47.6133L117.253 49.32C117.04 49.2133 116.72 49.16 116.293 49.16C115.653 49.16 115.067 49.4267 114.533 49.96C114.053 50.4933 113.787 51.1867 113.787 51.9867V57.32Z"
      fill="#5F6368"></path>
    <path
      d="M119.387 48.7867C120.347 47.8267 121.52 47.2933 122.96 47.2933C124.4 47.2933 125.573 47.7733 126.533 48.7867C127.493 49.7467 127.92 50.9733 127.92 52.4667C127.92 53.96 127.44 55.1867 126.533 56.1467C125.573 57.1067 124.4 57.64 122.96 57.64C121.52 57.64 120.347 57.16 119.387 56.1467C118.427 55.1867 118 53.96 118 52.4667C118 50.9733 118.48 49.7467 119.387 48.7867ZM120.773 55.0267C121.413 55.6667 122.16 55.9867 123.013 55.9867C123.867 55.9867 124.613 55.6667 125.253 55.0267C125.893 54.3867 126.213 53.5333 126.213 52.4667C126.213 51.4 125.893 50.5467 125.253 49.9067C124.613 49.2667 123.867 48.9467 123.013 48.9467C122.16 48.9467 121.413 49.2667 120.773 49.9067C120.133 50.5467 119.813 51.4 119.813 52.4667C119.813 53.5333 120.133 54.3867 120.773 55.0267Z"
      fill="#5F6368"></path>
    <path
      d="M129.413 57.32V47.6133H131.173V49H131.227C131.493 48.52 131.92 48.1467 132.507 47.8267C133.093 47.5067 133.627 47.3467 134.213 47.3467C135.707 47.3467 136.72 47.9867 137.253 49.2133C138.053 47.9867 139.173 47.3467 140.613 47.3467C141.733 47.3467 142.64 47.72 143.173 48.4667C143.76 49.2133 144.027 50.1733 144.027 51.4533V57.3733H142.213V51.6667C142.213 50.7067 142.053 50.0133 141.68 49.5867C141.307 49.16 140.773 49 140.08 49C139.387 49 138.8 49.32 138.32 49.9067C137.84 50.4933 137.627 51.1867 137.627 51.9867V57.32H135.813V51.6667C135.813 50.7067 135.653 50.0133 135.28 49.5867C134.907 49.16 134.373 49 133.68 49C132.987 49 132.4 49.32 131.92 49.9067C131.44 50.4933 131.227 51.1867 131.227 51.9867V57.32H129.413Z"
      fill="#5F6368"></path>
    <path
      d="M150.587 57.64C149.147 57.64 147.92 57.16 147.013 56.2C146.107 55.24 145.627 54.0133 145.627 52.52C145.627 51.1333 146.053 49.9067 146.96 48.8933C147.867 47.88 148.987 47.4 150.373 47.4C151.813 47.4 152.933 47.88 153.84 48.7867C154.747 49.6933 155.12 50.9733 155.12 52.52V52.84H147.493C147.547 53.8 147.867 54.6 148.453 55.1333C149.04 55.72 149.733 55.9867 150.533 55.9867C151.813 55.9867 152.72 55.4533 153.2 54.3333L154.8 55.0267C154.48 55.7733 153.947 56.4133 153.253 56.8933C152.56 57.3733 151.653 57.64 150.587 57.64ZM153.2 51.2933C153.147 50.76 152.933 50.2267 152.453 49.6933C151.973 49.2133 151.28 48.9467 150.373 48.9467C149.68 48.9467 149.147 49.16 148.613 49.5867C148.08 50.0133 147.76 50.5467 147.6 51.2933H153.2Z"
      fill="#5F6368"></path>
    <path
      d="M177.147 43.1867L173.36 57.32H171.493L168.453 47.9867H168.4L165.36 57.32H163.493L159.547 43.1867H161.467L164.453 54.28H164.507L167.547 45.0533H169.253L172.293 54.28H172.347L175.173 43.1867H177.147Z"
      fill="#5F6368"></path>
    <path
      d="M181.84 57.64C180.4 57.64 179.173 57.16 178.267 56.2C177.36 55.24 176.88 54.0133 176.88 52.52C176.88 51.1333 177.307 49.9067 178.213 48.8933C179.12 47.88 180.24 47.4 181.627 47.4C183.067 47.4 184.187 47.88 185.093 48.7867C186 49.6933 186.373 50.9733 186.373 52.52V52.84H178.747C178.8 53.8 179.12 54.6 179.707 55.1333C180.293 55.72 180.987 55.9867 181.787 55.9867C183.067 55.9867 183.973 55.4533 184.453 54.3333L186.053 55.0267C185.733 55.7733 185.2 56.4133 184.507 56.8933C183.76 57.3733 182.907 57.64 181.84 57.64ZM184.453 51.2933C184.4 50.76 184.187 50.2267 183.707 49.6933C183.227 49.2133 182.533 48.9467 181.627 48.9467C180.933 48.9467 180.4 49.16 179.867 49.5867C179.333 50.0133 179.013 50.5467 178.853 51.2933H184.453Z"
      fill="#5F6368"></path>
    <path
      d="M193.147 57.64C192.4 57.64 191.76 57.48 191.173 57.16C190.587 56.84 190.16 56.4667 189.84 55.9867H189.787V57.32H188.027V43.1867H189.84V47.6667L189.787 49H189.84C190.107 48.52 190.587 48.1467 191.173 47.8267C191.76 47.5067 192.4 47.3467 193.147 47.3467C194.373 47.3467 195.493 47.8267 196.4 48.84C197.307 49.8533 197.787 51.0267 197.787 52.52C197.787 53.96 197.307 55.1867 196.4 56.2C195.493 57.1067 194.427 57.64 193.147 57.64ZM192.88 55.9867C193.733 55.9867 194.427 55.6667 195.067 55.0267C195.707 54.3867 195.973 53.5333 195.973 52.4667C195.973 51.4 195.653 50.5467 195.067 49.9067C194.48 49.2667 193.733 48.9467 192.88 48.9467C192.027 48.9467 191.28 49.2667 190.693 49.9067C190.107 50.5467 189.787 51.4 189.787 52.4667C189.787 53.5333 190.107 54.3867 190.693 55.0267C191.28 55.6667 192.027 55.9867 192.88 55.9867Z"
      fill="#5F6368"></path>
    <path
      d="M207.44 57.64C206.427 57.64 205.413 57.32 204.453 56.6267C203.493 55.9333 202.853 55.0267 202.533 53.8L204.187 53.1067C204.4 53.9067 204.773 54.5467 205.413 55.08C206.053 55.6133 206.693 55.88 207.493 55.88C208.293 55.88 208.933 55.6667 209.52 55.24C210.053 54.8133 210.373 54.28 210.373 53.5333C210.373 52.7333 210.107 52.1467 209.52 51.72C208.987 51.2933 208.08 50.92 206.853 50.5467C205.627 50.1733 204.667 49.64 204.027 49C203.387 48.36 203.067 47.56 203.067 46.6C203.067 45.5867 203.493 44.68 204.293 43.9333C205.093 43.1867 206.16 42.8133 207.44 42.8133C208.613 42.8133 209.627 43.1333 210.373 43.72C211.12 44.3067 211.6 44.9467 211.813 45.6933L210.16 46.3867C210.053 45.96 209.733 45.5333 209.307 45.16C208.827 44.7867 208.24 44.5733 207.493 44.5733C206.8 44.5733 206.213 44.7867 205.733 45.16C205.253 45.5333 204.987 46.0133 204.987 46.6C204.987 47.1333 205.2 47.56 205.68 47.9333C206.16 48.3067 206.8 48.6267 207.707 48.8933C208.4 49.1067 208.987 49.32 209.467 49.5333C209.947 49.7467 210.427 50.0133 210.907 50.3867C211.387 50.76 211.76 51.1867 211.973 51.6667C212.24 52.2 212.347 52.7867 212.347 53.48C212.347 54.1733 212.187 54.76 211.92 55.2933C211.653 55.8267 211.28 56.2533 210.8 56.5733C210.32 56.8933 209.84 57.1067 209.307 57.32C208.56 57.5333 208.027 57.64 207.44 57.64Z"
      fill="#5F6368"></path>
    <path
      d="M217.733 57.48C216.72 57.48 215.973 57.2133 215.44 56.68C214.907 56.1467 214.64 55.4 214.64 54.3867V49.32H212.933V47.6667H214.64V44.7333H216.453V47.6667H218.8V49.32H216.453V54.2267C216.453 55.2933 216.88 55.8267 217.733 55.8267C218.053 55.8267 218.32 55.7733 218.587 55.6667L219.227 57.2133C218.8 57.3733 218.32 57.48 217.733 57.48Z"
      fill="#5F6368"></path>
    <path
      d="M221.307 48.7867C222.267 47.8267 223.44 47.2933 224.88 47.2933C226.32 47.2933 227.493 47.7733 228.453 48.7867C229.413 49.7467 229.84 50.9733 229.84 52.4667C229.84 53.96 229.36 55.1867 228.453 56.1467C227.493 57.1067 226.32 57.64 224.88 57.64C223.44 57.64 222.267 57.16 221.307 56.1467C220.347 55.1867 219.92 53.96 219.92 52.4667C219.92 50.9733 220.4 49.7467 221.307 48.7867ZM222.64 55.0267C223.28 55.6667 224.027 55.9867 224.88 55.9867C225.733 55.9867 226.48 55.6667 227.12 55.0267C227.76 54.3867 228.08 53.5333 228.08 52.4667C228.08 51.4 227.76 50.5467 227.12 49.9067C226.48 49.2667 225.733 48.9467 224.88 48.9467C224.027 48.9467 223.28 49.2667 222.64 49.9067C222 50.5467 221.68 51.4 221.68 52.4667C221.733 53.5333 222.053 54.3867 222.64 55.0267Z"
      fill="#5F6368"></path>
    <path
      d="M233.147 57.32H231.333V47.6133H233.093V49.2133H233.147C233.307 48.68 233.733 48.2533 234.267 47.9333C234.853 47.6133 235.387 47.4 235.92 47.4C236.453 47.4 236.933 47.4533 237.307 47.6133L236.613 49.32C236.4 49.2133 236.08 49.16 235.653 49.16C235.013 49.16 234.427 49.4267 233.893 49.96C233.36 50.4933 233.147 51.1867 233.147 51.9867V57.32Z"
      fill="#5F6368"></path>
    <path
      d="M242.267 57.64C240.827 57.64 239.6 57.16 238.693 56.2C237.787 55.24 237.307 54.0133 237.307 52.52C237.307 51.1333 237.733 49.9067 238.64 48.8933C239.547 47.88 240.667 47.4 242.053 47.4C243.493 47.4 244.613 47.88 245.52 48.7867C246.427 49.6933 246.8 50.9733 246.8 52.52V52.84H239.173C239.227 53.8 239.547 54.6 240.133 55.1333C240.72 55.72 241.413 55.9867 242.213 55.9867C243.493 55.9867 244.4 55.4533 244.88 54.3333L246.48 55.0267C246.16 55.7733 245.627 56.4133 244.933 56.8933C244.187 57.3733 243.333 57.64 242.267 57.64ZM244.88 51.2933C244.827 50.76 244.613 50.2267 244.133 49.6933C243.653 49.2133 242.96 48.9467 242.053 48.9467C241.36 48.9467 240.827 49.16 240.293 49.5867C239.76 50.0133 239.44 50.5467 239.28 51.2933H244.88Z"
      fill="#5F6368"></path>
    <path
      d="M87.76 35.3467L91.8134 24.68H93.36L97.4134 35.3467H95.8667L94.8534 32.4667H90.3734L89.3067 35.3467H87.76ZM90.8 31.1867H94.3734L92.6134 26.3867H92.56L90.8 31.1867Z"
      fill="#5F6368"></path>
    <path
      d="M99.8667 35.3467L96.9334 28.04H98.4267L100.56 33.6933H100.613L102.8 28.04H104.24L101.253 35.3467H99.8667Z"
      fill="#5F6368"></path>
    <path
      d="M107.28 35.6133C106.48 35.6133 105.84 35.4 105.307 34.92C104.773 34.4933 104.507 33.8533 104.507 33.16C104.507 32.36 104.827 31.72 105.413 31.2933C106.053 30.8667 106.8 30.6 107.707 30.6C108.507 30.6 109.2 30.76 109.68 31.0267V30.8667C109.68 30.3333 109.52 29.9067 109.147 29.5867C108.773 29.2667 108.347 29.1067 107.813 29.1067C107.44 29.1067 107.067 29.2133 106.747 29.3733C106.427 29.5867 106.213 29.8 106.107 30.1733L104.827 29.64C104.987 29.2133 105.307 28.7867 105.84 28.4133C106.32 28.04 107.013 27.88 107.813 27.88C108.773 27.88 109.52 28.1467 110.16 28.68C110.8 29.2133 111.067 30.0133 111.067 30.9733V35.4H109.733V34.3867H109.68C109.147 35.1867 108.347 35.6133 107.28 35.6133ZM107.493 34.3333C108.08 34.3333 108.56 34.12 109.04 33.6933C109.52 33.2667 109.733 32.7867 109.733 32.2C109.36 31.88 108.773 31.72 107.973 31.72C107.28 31.72 106.8 31.88 106.48 32.1467C106.16 32.4133 105.947 32.7867 105.947 33.16C105.947 33.5333 106.107 33.8 106.427 34.0133C106.747 34.2267 107.067 34.3333 107.493 34.3333Z"
      fill="#5F6368"></path>
    <path
      d="M114.107 26.2267C113.893 26.44 113.68 26.4933 113.413 26.4933C113.147 26.4933 112.933 26.3867 112.72 26.2267C112.507 26.0133 112.453 25.8 112.453 25.5333C112.453 25.2667 112.56 25.0533 112.72 24.84C112.933 24.6267 113.147 24.5733 113.413 24.5733C113.68 24.5733 113.893 24.68 114.107 24.84C114.32 25.0533 114.373 25.2667 114.373 25.5333C114.373 25.8 114.267 26.0133 114.107 26.2267ZM114.107 35.3467H112.72V28.04H114.107V35.3467Z"
      fill="#5F6368"></path>
    <path d="M117.253 35.3467H115.867V24.68H117.253V35.3467Z" fill="#5F6368"
    ></path>
    <path
      d="M121.147 35.6133C120.347 35.6133 119.707 35.4 119.173 34.92C118.64 34.4933 118.373 33.8533 118.373 33.16C118.373 32.36 118.693 31.72 119.28 31.2933C119.92 30.8667 120.667 30.6 121.573 30.6C122.373 30.6 123.067 30.76 123.547 31.0267V30.8667C123.547 30.3333 123.387 29.9067 123.013 29.5867C122.64 29.2667 122.213 29.1067 121.68 29.1067C121.307 29.1067 120.933 29.2133 120.613 29.3733C120.293 29.5867 120.08 29.8 119.973 30.1733L118.693 29.64C118.853 29.2133 119.173 28.7867 119.707 28.4133C120.187 28.04 120.88 27.88 121.68 27.88C122.64 27.88 123.387 28.1467 124.027 28.68C124.667 29.2133 124.933 30.0133 124.933 30.9733V35.4H123.6V34.3867H123.547C123.013 35.1867 122.213 35.6133 121.147 35.6133ZM121.413 34.3333C122 34.3333 122.48 34.12 122.96 33.6933C123.44 33.2667 123.653 32.7867 123.653 32.2C123.28 31.88 122.693 31.72 121.893 31.72C121.2 31.72 120.72 31.88 120.4 32.1467C120.08 32.4133 119.867 32.7867 119.867 33.16C119.867 33.5333 120.027 33.8 120.347 34.0133C120.667 34.2267 120.987 34.3333 121.413 34.3333Z"
      fill="#5F6368"></path>
    <path
      d="M130.373 35.6133C129.84 35.6133 129.307 35.5067 128.88 35.24C128.453 35.0267 128.08 34.7067 127.867 34.3333H127.813V35.3467H126.48V24.68H127.867V28.04L127.813 29.0533H127.867C128.08 28.68 128.4 28.4133 128.88 28.1467C129.36 27.88 129.84 27.7733 130.373 27.7733C131.333 27.7733 132.133 28.1467 132.827 28.8933C133.52 29.64 133.84 30.5467 133.84 31.6667C133.84 32.7867 133.52 33.6933 132.827 34.44C132.133 35.24 131.333 35.6133 130.373 35.6133ZM130.16 34.3333C130.8 34.3333 131.333 34.0667 131.813 33.5867C132.293 33.1067 132.507 32.4667 132.507 31.6667C132.507 30.8667 132.293 30.2267 131.813 29.7467C131.333 29.2667 130.8 29 130.16 29C129.52 29 128.987 29.2133 128.507 29.6933C128.08 30.1733 127.813 30.8133 127.813 31.6133C127.813 32.4133 128.027 33.0533 128.507 33.5333C128.933 34.12 129.52 34.3333 130.16 34.3333Z"
      fill="#5F6368"></path>
    <path d="M136.4 35.3467H135.013V24.68H136.4V35.3467Z" fill="#5F6368"></path>
    <path
      d="M141.307 35.6133C140.187 35.6133 139.28 35.24 138.587 34.4933C137.893 33.7467 137.573 32.84 137.573 31.72C137.573 30.6533 137.893 29.7467 138.587 28.9467C139.28 28.1467 140.133 27.7733 141.147 27.7733C142.213 27.7733 143.12 28.1467 143.76 28.84C144.4 29.5333 144.72 30.4933 144.72 31.6667V31.9333H138.96C139.013 32.68 139.227 33.2667 139.707 33.6933C140.133 34.12 140.667 34.3333 141.307 34.3333C142.267 34.3333 142.96 33.9067 143.333 33.0533L144.56 33.5867C144.347 34.1733 143.92 34.6533 143.387 35.0267C142.8 35.4 142.107 35.6133 141.307 35.6133ZM143.28 30.8133C143.227 30.3867 143.067 30.0133 142.693 29.64C142.32 29.2667 141.84 29.0533 141.093 29.0533C140.56 29.0533 140.133 29.2133 139.76 29.5333C139.387 29.8533 139.12 30.28 139.013 30.8133H143.28Z"
      fill="#5F6368"></path>
    <path
      d="M150.8 26.2267C150.587 26.44 150.373 26.4933 150.107 26.4933C149.84 26.4933 149.627 26.3867 149.413 26.2267C149.2 26.0667 149.147 25.8 149.147 25.5333C149.147 25.2667 149.253 25.0533 149.413 24.84C149.627 24.6267 149.84 24.5733 150.107 24.5733C150.373 24.5733 150.587 24.68 150.8 24.84C151.013 25.0533 151.067 25.2667 151.067 25.5333C151.067 25.8 150.96 26.0133 150.8 26.2267ZM150.8 35.3467H149.413V28.04H150.8V35.3467Z"
      fill="#5F6368"></path>
    <path
      d="M153.893 28.04V29.0533H153.947C154.16 28.68 154.48 28.4133 154.907 28.1467C155.333 27.88 155.813 27.7733 156.293 27.7733C157.2 27.7733 157.893 28.04 158.373 28.6267C158.853 29.16 159.067 29.9067 159.067 30.8667V35.3467H157.68V31.08C157.68 29.7467 157.093 29.0533 155.867 29.0533C155.28 29.0533 154.853 29.2667 154.48 29.7467C154.107 30.2267 153.947 30.7067 153.947 31.3467V35.4H152.56V28.04H153.893Z"
      fill="#5F6368"></path>
    <path
      d="M167.12 35.5067C166.373 35.5067 165.787 35.2933 165.36 34.92C164.933 34.4933 164.773 33.96 164.773 33.2133V29.3733H163.493V28.0933H164.773V25.8533H166.16V28.0933H167.973V29.3733H166.16V33.1067C166.16 33.9067 166.48 34.28 167.12 34.28C167.387 34.28 167.6 34.2267 167.76 34.1733L168.24 35.3467C167.92 35.4 167.547 35.5067 167.12 35.5067Z"
      fill="#5F6368"></path>
    <path
      d="M170.693 24.68V28.04L170.64 29.0533H170.693C170.907 28.68 171.227 28.4133 171.653 28.1467C172.08 27.88 172.56 27.7733 173.04 27.7733C173.947 27.7733 174.64 28.04 175.12 28.6267C175.6 29.16 175.813 29.9067 175.813 30.8667V35.3467H174.427V31.08C174.427 29.7467 173.84 29.0533 172.613 29.0533C172.027 29.0533 171.6 29.2667 171.227 29.7467C170.853 30.2267 170.693 30.7067 170.693 31.3467V35.4H169.307V24.7333H170.693V24.68Z"
      fill="#5F6368"></path>
    <path
      d="M180.72 35.6133C179.6 35.6133 178.693 35.24 178 34.4933C177.307 33.7467 176.987 32.84 176.987 31.72C176.987 30.6533 177.307 29.7467 178 28.9467C178.693 28.1467 179.547 27.7733 180.56 27.7733C181.627 27.7733 182.533 28.1467 183.173 28.84C183.813 29.5333 184.133 30.4933 184.133 31.6667V31.9333H178.373C178.427 32.68 178.64 33.2667 179.12 33.6933C179.547 34.12 180.08 34.3333 180.72 34.3333C181.68 34.3333 182.373 33.9067 182.747 33.0533L183.973 33.5867C183.76 34.1733 183.333 34.6533 182.8 35.0267C182.213 35.4 181.52 35.6133 180.72 35.6133ZM182.693 30.8133C182.64 30.3867 182.48 30.0133 182.107 29.64C181.733 29.2667 181.253 29.0533 180.507 29.0533C179.973 29.0533 179.547 29.2133 179.173 29.5333C178.8 29.8533 178.533 30.28 178.427 30.8133H182.693Z"
      fill="#5F6368"></path>
    <mask
      id="mask0_4474_12144"
      style="mask-type:luminance"
      maskUnits="userSpaceOnUse"
      x="14"
      y="15"
      width="60"
      height="52"
    >
      <path
        d="M14.4801 15.72V62.4933C14.4801 64.68 16.2934 66.4933 18.4801 66.4933H69.2534C71.4401 66.4933 73.2534 64.68 73.2534 62.4933V15.72H14.4801ZM50.5334 26.3867H37.2001C35.7068 26.3867 34.5334 25.2133 34.5334 23.72C34.5334 22.2267 35.7068 21.0533 37.2001 21.0533H50.5334C52.0268 21.0533 53.2001 22.2267 53.2001 23.72C53.2001 25.2133 52.0268 26.3867 50.5334 26.3867Z"
        fill="white"></path>
    </mask>
    <g mask="url(#mask0_4474_12144)">
      <path d="M14.4801 15.72H73.2534V66.4933H14.4801V15.72Z" fill="#EEEEEE"
      ></path>
    </g>
    <mask
      id="mask1_4474_12144"
      style="mask-type:luminance"
      maskUnits="userSpaceOnUse"
      x="14"
      y="15"
      width="60"
      height="52"
    >
      <path
        d="M14.4801 15.72V62.4933C14.4801 64.68 16.2934 66.4933 18.4801 66.4933H69.2534C71.4401 66.4933 73.2534 64.68 73.2534 62.4933V15.72H14.4801ZM50.5334 26.3867H37.2001C35.7068 26.3867 34.5334 25.2133 34.5334 23.72C34.5334 22.2267 35.7068 21.0533 37.2001 21.0533H50.5334C52.0268 21.0533 53.2001 22.2267 53.2001 23.72C53.2001 25.2133 52.0268 26.3867 50.5334 26.3867Z"
        fill="white"></path>
    </mask>
    <g mask="url(#mask1_4474_12144)">
      <path
        d="M50.5334 21.0533H37.2001C35.7068 21.0533 34.5334 22.2267 34.5334 23.72C34.5334 25.2133 35.7068 26.3867 37.2001 26.3867H50.5334C52.0268 26.3867 53.2001 25.2133 53.2001 23.72C53.2001 22.2267 52.0268 21.0533 50.5334 21.0533Z"
        fill="white"></path>
    </g>
    <mask
      id="mask2_4474_12144"
      style="mask-type:luminance"
      maskUnits="userSpaceOnUse"
      x="14"
      y="15"
      width="60"
      height="52"
    >
      <path
        d="M14.4801 15.72V62.4933C14.4801 64.68 16.2934 66.4933 18.4801 66.4933H69.2534C71.4401 66.4933 73.2534 64.68 73.2534 62.4933V15.72H14.4801ZM50.5334 26.3867H37.2001C35.7068 26.3867 34.5334 25.2133 34.5334 23.72C34.5334 22.2267 35.7068 21.0533 37.2001 21.0533H50.5334C52.0268 21.0533 53.2001 22.2267 53.2001 23.72C53.2001 25.2133 52.0268 26.3867 50.5334 26.3867Z"
        fill="white"></path>
    </mask>
    <g mask="url(#mask2_4474_12144)">
      <mask
        id="mask3_4474_12144"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="18"
        y="37"
        width="52"
        height="51"
      >
        <mask
          id="mask4_4474_12144"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="18"
          y="37"
          width="52"
          height="51"
        >
          <mask
            id="mask5_4474_12144"
            style="mask-type:luminance"
            maskUnits="userSpaceOnUse"
            x="18"
            y="37"
            width="52"
            height="51"
          >
            <mask
              id="mask6_4474_12144"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="18"
              y="37"
              width="52"
              height="51"
            >
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask6_4474_12144)">
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </g>
          </mask>
          <g mask="url(#mask5_4474_12144)">
            <path
              d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
              fill="white"></path>
          </g>
        </mask>
        <g mask="url(#mask4_4474_12144)">
          <path
            d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
            fill="white"></path>
        </g>
      </mask>
      <g mask="url(#mask3_4474_12144)">
        <path
          d="M22.5334 37.0533V68.2H33.8934L43.8668 50.92H69.2534V37.0533H22.5334ZM22.5334 37.0533V68.2H33.8934L43.8668 50.92H69.2534V37.0533H22.5334Z"
          fill="#DB4437"></path>
      </g>
      <mask
        id="mask7_4474_12144"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="18"
        y="37"
        width="52"
        height="51"
      >
        <mask
          id="mask8_4474_12144"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="18"
          y="37"
          width="52"
          height="51"
        >
          <mask
            id="mask9_4474_12144"
            style="mask-type:luminance"
            maskUnits="userSpaceOnUse"
            x="18"
            y="37"
            width="52"
            height="51"
          >
            <mask
              id="mask10_4474_12144"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="18"
              y="37"
              width="52"
              height="51"
            >
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask10_4474_12144)">
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </g>
          </mask>
          <g mask="url(#mask9_4474_12144)">
            <path
              d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
              fill="white"></path>
          </g>
        </mask>
        <g mask="url(#mask8_4474_12144)">
          <path
            d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
            fill="white"></path>
        </g>
      </mask>
      <g mask="url(#mask7_4474_12144)">
        <path
          d="M18.4801 87.8267H42.6401L53.8401 76.6267V68.2533H33.8401L18.4801 41.8533V87.8267ZM18.4801 87.8267H42.6401L53.8401 76.6267V68.2533H33.8401L18.4801 41.8533V87.8267Z"
          fill="#0F9D58"></path>
      </g>
      <mask
        id="mask11_4474_12144"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="18"
        y="37"
        width="52"
        height="51"
      >
        <mask
          id="mask12_4474_12144"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="18"
          y="37"
          width="52"
          height="51"
        >
          <mask
            id="mask13_4474_12144"
            style="mask-type:luminance"
            maskUnits="userSpaceOnUse"
            x="18"
            y="37"
            width="52"
            height="51"
          >
            <mask
              id="mask14_4474_12144"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="18"
              y="37"
              width="52"
              height="51"
            >
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask14_4474_12144)">
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </g>
          </mask>
          <g mask="url(#mask13_4474_12144)">
            <path
              d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
              fill="white"></path>
          </g>
        </mask>
        <g mask="url(#mask12_4474_12144)">
          <path
            d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
            fill="white"></path>
        </g>
      </mask>
      <g mask="url(#mask11_4474_12144)">
        <path
          d="M43.8668 50.92L53.8401 68.2L42.6401 87.8267H69.2535V50.92H43.8668ZM43.8668 50.92L53.8401 68.2L42.6401 87.8267H69.2535V50.92H43.8668Z"
          fill="#FFCD40"></path>
      </g>
      <mask
        id="mask15_4474_12144"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="18"
        y="37"
        width="52"
        height="51"
      >
        <mask
          id="mask16_4474_12144"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="18"
          y="37"
          width="52"
          height="51"
        >
          <mask
            id="mask17_4474_12144"
            style="mask-type:luminance"
            maskUnits="userSpaceOnUse"
            x="18"
            y="37"
            width="52"
            height="51"
          >
            <mask
              id="mask18_4474_12144"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="18"
              y="37"
              width="52"
              height="51"
            >
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask18_4474_12144)">
              <path
                d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
                fill="white"></path>
            </g>
          </mask>
          <g mask="url(#mask17_4474_12144)">
            <path
              d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
              fill="white"></path>
          </g>
        </mask>
        <g mask="url(#mask16_4474_12144)">
          <path
            d="M43.8668 87.8267C57.8874 87.8267 69.2534 76.4607 69.2534 62.44C69.2534 48.4193 57.8874 37.0533 43.8668 37.0533C29.8461 37.0533 18.4801 48.4193 18.4801 62.44C18.4801 76.4607 29.8461 87.8267 43.8668 87.8267Z"
            fill="white"></path>
        </g>
      </mask>
      <g mask="url(#mask15_4474_12144)">
        <path
          d="M43.8668 73.96C50.2291 73.96 55.3868 68.8023 55.3868 62.44C55.3868 56.0777 50.2291 50.92 43.8668 50.92C37.5045 50.92 32.3468 56.0777 32.3468 62.44C32.3468 68.8023 37.5045 73.96 43.8668 73.96Z"
          fill="#F1F1F1"></path>
        <path
          d="M43.8668 71.6666C48.9626 71.6666 53.0935 67.5357 53.0935 62.44C53.0935 57.3442 48.9626 53.2133 43.8668 53.2133C38.7711 53.2133 34.6401 57.3442 34.6401 62.44C34.6401 67.5357 38.7711 71.6666 43.8668 71.6666Z"
          fill="#4285F4"></path>
      </g>
      <mask
        id="mask19_4474_12144"
        style="mask-type:luminance"
        maskUnits="userSpaceOnUse"
        x="14"
        y="15"
        width="60"
        height="52"
      >
        <path
          d="M14.4801 15.72V62.4933C14.4801 64.68 16.2934 66.4933 18.4801 66.4933H69.2534C71.4401 66.4933 73.2534 64.68 73.2534 62.4933V15.72H14.4801ZM50.5334 26.3867H37.2001C35.7068 26.3867 34.5334 25.2133 34.5334 23.72C34.5334 22.2267 35.7068 21.0533 37.2001 21.0533H50.5334C52.0268 21.0533 53.2001 22.2267 53.2001 23.72C53.2001 25.2133 52.0268 26.3867 50.5334 26.3867Z"
          fill="white"></path>
      </mask>
      <g mask="url(#mask19_4474_12144)">
        <path
          d="M14.4801 15.72H73.2534V41.1067H14.4801V15.72Z"
          fill="#212121"
          fill-opacity="0.05"></path>
      </g>
      <path
        d="M14.4801 40.7333H73.2534V41.0533H14.4801V40.7333Z"
        fill="#212121"
        fill-opacity="0.02"></path>
      <path
        d="M14.4801 41.1067H73.2534V41.4267H14.4801V41.1067Z"
        fill="white"
        fill-opacity="0.05"></path>
      <path
        d="M50.5334 26.3867H37.2001C35.7601 26.3867 34.6401 25.2667 34.5334 23.88C34.5334 23.9333 34.5334 23.9867 34.5334 24.04C34.5334 25.5333 35.7068 26.7067 37.2001 26.7067H50.5334C52.0268 26.7067 53.2001 25.5333 53.2001 24.04C53.2001 23.9867 53.2001 23.9333 53.2001 23.88C53.1468 25.2667 51.9734 26.3867 50.5334 26.3867ZM14.4801 15.72V16.04H73.2534V15.72H14.4801Z"
        fill="#212121"
        fill-opacity="0.02"></path>
      <path
        d="M37.2001 21.0533H50.5334C51.9734 21.0533 53.0934 22.1733 53.2001 23.56C53.2001 23.5067 53.2001 23.4533 53.2001 23.4C53.2001 21.9067 52.0268 20.7333 50.5334 20.7333H37.2001C35.7068 20.7333 34.5334 21.9067 34.5334 23.4C34.5334 23.4533 34.5334 23.5067 34.5334 23.56C34.5868 22.1733 35.7601 21.0533 37.2001 21.0533ZM69.2534 66.12H18.4801C16.2934 66.12 14.4801 64.3067 14.4801 62.12V62.44C14.4801 64.6267 16.2934 66.44 18.4801 66.44H69.2534C71.4401 66.44 73.2534 64.6267 73.2534 62.44V62.12C73.2534 64.3067 71.4401 66.12 69.2534 66.12Z"
        fill="#231F20"
        fill-opacity="0.1"></path>
      <path
        d="M14.4801 15.72V62.4933C14.4801 64.68 16.2934 66.4933 18.4801 66.4933H69.2534C71.4401 66.4933 73.2534 64.68 73.2534 62.4933V15.72H14.4801ZM50.5334 26.3867H37.2001C35.7068 26.3867 34.5334 25.2133 34.5334 23.72C34.5334 22.2267 35.7068 21.0533 37.2001 21.0533H50.5334C52.0268 21.0533 53.2001 22.2267 53.2001 23.72C53.2001 25.2133 52.0268 26.3867 50.5334 26.3867Z"
        fill="url(#paint0_radial_4474_12144)"></path>
    </g>
    <defs>
      <radialGradient
        id="paint0_radial_4474_12144"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(14.311 15.4861) scale(76.0105 76.0105)"
      >
        <stop stop-color="white" stop-opacity="0.1"></stop>
        <stop offset="1" stop-color="white" stop-opacity="0"></stop>
      </radialGradient>
    </defs>
  </svg>
</a>

<style>
  .border-gradient-rounded {
    border: 1px solid transparent;
    border-radius: 12px;
    background: linear-gradient(to right, white, white),
      linear-gradient(95.24deg, #668e4f 0.09%, #bc52ad 50%, #f4b62b 99.91%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  .border-gradient-rounded:hover {
    background: linear-gradient(to right, white, white),
      linear-gradient(95.24deg, #f4b62b 0.09%, #bc52ad 50%, #668e4f 99.91%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
</style>
