---
import Logo from "./Logo.astro";

export interface Props {
  logoColor?: "blue" | "white";
}

const { logoColor = "blue" } = Astro.props;
---

<header id="header" class="w-screen">
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-center p-16"
  >
    <a
      id="mainLogo"
      href="/"
      class:list={[
        "logo block h-16 w-[217px]",
        { "logo--contrast": logoColor === "blue" },
      ]}
    >
      <Logo />
      </a>
  </div>
</header>
