---
import Layout from "@layouts/Layout.astro";
import Buttons from "@components/showcase/Buttons.astro";
import Shadows from "@components/showcase/Shadows.astro";
import Accordion from "@components/Accordion.astro";
import PasswordInputs from "@components/showcase/PasswordInputs.astro";
import Inputs from "@components/showcase/Inputs.astro";
import Switches from "@components/showcase/Switches.astro";
import RadioInputs from "@components/showcase/RadioInputs.astro";
import Notifications from "@components/showcase/Notifications.astro";
import Alerts from "@components/showcase/Alerts.astro";
import Loader from "@components/showcase/Loader.astro";
import Checkboxes from "@components/showcase/Checkboxes.astro";
---

<Layout title="Showcase">
  <main>
    <Accordion title="Buttons" icon="menu-button-wide" collapse={false}>
      <Buttons />
    </Accordion>
    <Accordion title="Shadows" icon="shadows">
      <Shadows />
    </Accordion>
    <Accordion title="Password Inputs" icon="eye-slash"
      ><PasswordInputs /></Accordion
    >
    <Accordion title="Inputs" icon="input-cursor-text"><Inputs /></Accordion>
    <Accordion title="Switches" icon="toggle-on"><Switches /></Accordion>
    <Accordion title="Radio Inputs" icon="ui-radios"><RadioInputs /></Accordion>
    <Accordion title="Checkboxes" icon="check2-square"><Checkboxes /></Accordion>
    <Accordion title="Notifications" icon="app-indicator"
      ><Notifications /></Accordion
    >
    <Accordion title="Alerts" icon="app-indicator"><Alerts /></Accordion>
    <Accordion title="Loaders" icon="hourglass-split"><Loader /></Accordion>
  </main>
</Layout>
