---
import Checkbox from "@components/Checkbox.astro";
---

<div class="flex flex-col gap-10 p-10">
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-col gap-4">
      <Checkbox label="Label" id="test" />
      <Checkbox label="Label" id="test2" checked={true}/>
      <Checkbox label="Label" id="test2" disabled/>
      <Checkbox label="Label" id="test2" checked={true} disabled/>
    </div>
  </div>
</div>
