---

---

<div class="flex flex-col gap-10 p-10">
  <div class="flex gap-10">
    <div class="shadow-1 w-40 p-4">shadow-1</div>
    <div class="shadow-2 w-40 p-4">shadow-2</div>
    <div class="shadow-3 w-40 p-4">shadow-3</div>
    <div class="shadow-4 w-40 p-4">shadow-4</div>
    <div class="shadow-5 w-40 p-4">shadow-5</div>
  </div>
  <div class="flex gap-10">
    <div class="shadow-1-strong w-40 p-4">shadow-1-strong</div>
    <div class="shadow-2-strong w-40 p-4">shadow-2-strong</div>
    <div class="shadow-3-strong w-40 p-4">shadow-3-strong</div>
    <div class="shadow-4-strong w-40 p-4">shadow-4-strong</div>
    <div class="shadow-5-strong w-40 p-4">shadow-5-strong</div>
  </div>
</div>
