---
import Switch from "@components/Switch.astro";
---

<div class="flex flex-col gap-10 p-10">
  <div class="flex flex-wrap gap-10">
    <div class="flex flex-row gap-4">
      <Switch />
      <Switch checked />
      <Switch disabled/>
      <Switch checked disabled/>
    </div>
  </div>
</div>
